@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables */
/*========================= */
/* General Layout */
/*========================= */
html, body {
  height: 100%; }

.logo {
  width: 80px;
  height: 65px;
  float: left; }
  .logo > a {
    color: #333333;
    display: block;
    width: 80px;
    height: 65px;
    background: url("../images/g-logo-min.png") no-repeat; }

.logo2 {
  width: 80px;
  height: 65px;
  float: left; }
  .logo2 > a {
    color: #333333;
    display: block;
    width: 80px;
    height: 65px;
    background: url("../images/g-logo.png") no-repeat; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .logo > a {
    background-size: 80px 65px;
    background-image: url("../images/g-logo-minx2.png"); }

  .logo2 > a {
    background-size: 80px 65px;
    background-image: url("../images/g-logox2.png"); } }
@media screen and (-o-min-device-pixel-ratio: 3 / 2) {
  .logo2 > a {
    background-size: 80px 65px;
    background-image: url("../images/g-logox2.png"); } }
.top {
  background-color: #a943dd;
  max-width: 100%;
  height: 300px; }
  .top h1 {
    color: white;
    text-shadow: 0px 3px 3px #671391; }
    .top h1 strong {
      text-shadow: 0px 3px 3px #7f2ea7; }

.top2 {
  max-width: 100%;
  height: 60px;
  margin: 30px 0; }
  .top2 .logo2 > a {
    -webkit-transition: background-image 0.2s;
    -moz-transition: background-image 0.2s;
    transition: background-image 0.2s; }
  .top2 a.name {
    display: block;
    padding: 0; }
  .top2 h1 {
    color: black;
    font-size: 60px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s; }

.top2:hover h1 {
  color: #a943dd; }
.top2:hover .logo2:before {
  content: url("../images/g-logo-hover.png");
  width: 0;
  height: 0;
  visibility: hidden; }
.top2:hover .logo2 > a {
  background-image: url("../images/g-logo-hover.png"); }

.top h1, .top2 h1 {
  font-weight: 100;
  font-size: 48px;
  padding: 0;
  margin: 0;
  height: 65px;
  line-height: 60px;
  margin-left: 20px;
  text-align: center;
  float: left; }

.top2 h1 {
  height: 60px; }

.clear {
  clear: both; }

/* Typography */
/*==================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

h1, .h1 {
  font-size: 46px;
  font-weight: 100; }

h2, .h2 {
  font-size: 38px; }

h3, .h3 {
  font-size: 31px; }

h4, .h4 {
  font-size: 23px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 16px; }

a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #6e2c90; }

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.8em;
  text-indent: 2em; }

nav a {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  font-weight: 300; }

a:active {
  color: #a943dd; }

.crazy {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #6e2c90; }

a:visited {
  color: #6e2c90; }

a:hover {
  color: #a943dd; }

/* Button styles */
/*==================== */
.crazy {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }

.crazy:before {
  padding: 10px; }

.crazy:hover {
  box-shadow: 0 0 0 2px white; }

.crazy:before {
  padding: 10px; }

.github:before {
  content: "github"; }

.resume:before {
  content: "résumé"; }

/* Layout */
/*==================== */
.post img {
  display: block;
  margin: 0 auto; }

/* Homepage */
/*==================== */
.top {
  height: 180px; }

.links {
  height: 40px; }
  .links span {
    margin-top: 30px; }

@media only screen and (max-width: 479px) {
  .logo, .logo2 {
    float: none;
    margin: 0 auto; }

  .top, .top2 {
    height: 250px; }
    .top h1, .top2 h1 {
      float: none;
      margin: 0 auto; }

  .top2 {
    height: 180px; } }
.home .crazy {
  position: relative;
  box-shadow: 0 0 0 2px #6e2c90;
  color: #6e2c90;
  border-radius: 15px;
  -webkit-transition: color 0.2s, box-shadow 0.2s;
  -moz-transition: color 0.2s, box-shadow 0.2s;
  transition: color 0.2s, box-shadow 0.2s;
  float: right; }
.home a {
  font-size: 14px;
  font-weight: 500;
  padding: 4px; }
.home a, .home a:visited, .home a:hover {
  text-decoration: none; }
.home .crazy:before {
  content: "read"; }
.home .crazy:hover {
  box-shadow: 0 0 0 2px #a943dd;
  color: #a943dd; }
.home .crazy:before {
  padding: 10px; }

.top {
  height: 250px; }

.logo-container {
  position: relative;
  top: 60px;
  margin: 0 auto;
  width: 430px;
  height: 70px; }

.links {
  position: relative;
  top: 120px;
  margin: 0 auto;
  width: 200px;
  height: 30px; }
  .links span {
    font-size: 0.85em;
    font-weight: 100;
    margin-left: 18px;
    text-align: center;
    width: 8em; }
    .links span a {
      border-radius: 15px;
      color: white;
      padding: 5px;
      text-decoration: none;
      text-shadow: 0px 1px 1px #671391; }

.home hr {
  border: solid #f4f4f4;
  border-width: 3px 0 0; }
.home h2 {
  margin: 0; }
.home h3 {
  margin: 0; }
.home h4 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 500;
  margin: 0; }
.home ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.home li {
  margin: 60px 0; }
  .home li a {
    display: block; }
  .home li a h3 {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s; }
  .home li a:hover h3 {
    color: #a943dd; }

.container {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 30px; }

.col {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.half {
  width: 330px; }

.end {
  color: #a943dd;
  float: right; }

@media only screen and (max-width: 767px) {
  .half {
    width: 440px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 460px; }

  .logo-container {
    width: 430px; } }
@media only screen and (max-width: 479px) {
  .container {
    width: 300px; }

  .half {
    width: 280px; }

  .top {
    height: 300px; }

  .logo-container {
    top: 40px;
    width: 320px; }

  .links {
    top: 180px; } }
::selection {
  background: #f6e5ff; }

::-moz-selection {
  background: #f6e5ff; }
